*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

studybud\settings.py
*\settings.py
*\__pycache__
studybud\__pycache__
base\__pycache__

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/